<!DOCTYPE html>
<!--
    FoodShaker :: Cross-Platform Random Food Generator
    A Harvard University's CS50 Final Project
    by Gábor Hargitai
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" href="css/onsenui.css">
        <link rel="stylesheet" href="css/onsen-css-components.css">
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/angular/angular.js"></script>
        <script type="text/javascript" src="js/onsenui.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/shake.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/SQLitePlugin.js"></script>
        <script src="js/controllers.js"></script>
        <!-- // the script that handles the shake-motion detection !-->
        <script type="text/javascript" src="js/shake-alert.js"></script>
        <script type="text/javascript" src="js/file.js"></script>
        <script >
            ons.ready(function(){
                
                // set the location of the local backup - just in case
                window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, lookupBackupFileLocation, fail);
                
                tabbar.on('postchange', function(event) {
                
                if (event.index === 0) {
                    shakeEnabled = true;
                    console.log("shaker opened");
                }
                 
                // Only with the tab we want, we can use the index or the name
                if (event.index === 1) {
                    shakeEnabled = false;
                    console.log("fridge opened");
                    
                    if (!jQuery) { alert("jQuery is not loaded"); }
                    else { console.log("jQuery found!"); }
                    
                    // to initiate the write process
                    //window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, onFileSystemSuccess, fail);
                    
                    var output = $('#output');
                    var warning = $('#warning');

                    if (onlineMode) {

                        $.ajax({
                            url: inventoryURL,
                            dataType: 'jsonp',
                            jsonp: 'jsoncallback',
                            timeout: 2000,
                            success: function(data, status){
                             $.each(data, function(i,item){
                                    var response = 
                                    '<li class="list__item list__item--tappable">' +
                                      '<label class="checkbox checkbox--noborder checkbox--list-item">' +
                                        '<input type="checkbox">' +
                                        '<div class="checkbox__checkmark checkbox--noborder checkbox--list-item__checkmark"></div>' +
                                          item.name +
                                      '</label>' +
                                    '</li>';
                                    output.append(response);
                              });
                                console.log('Writing backup to localData.json');
                                console.log(JSON.stringify(data));
                                writeFile(JSON.stringify(data));
                                //window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, onFileSystemSuccess, fail);
                            },
                            error: function(){
                                warning.text('No Internet! Using local data...');
                                //var localJSONPath = getPhoneGapPath();
                                var readData;
                                window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, lookupBackupFileLocation, fail);
                                $.getJSON(localLocation, function(data)
                                {
                                    $.each(data, function(j,stuff){
                                        var items = 
                                            '<li class="list__item list__item--tappable">' +
                                                '<label class="checkbox checkbox--noborder checkbox--list-item">' +
                                                '<input type="checkbox">' +
                                                '<div class="checkbox__checkmark checkbox--noborder checkbox--list-item__checkmark"></div>' +
                                                    stuff.name +
                                                '</label>' +
                                            '</li>';
                                        output.append(items);
                                    });
                                    console.log(localJSONPath);
                                });
                            }
                        });
                        // Delete this listener so it's only triggered the first time
                        //myTabbar.off('postchange');
                    }
                    else {
                        console.log('Offline mode start');
                        warning.text('Online mode disabled in Settings');  
                        var readData;
                        //fileSystem.root.getFile(localDataName, {create: true, exclusive: false}, setLocalLocation, failFile);
                        console.log('Read from: '+window.localLocation);
                        $.getJSON(window.localLocation, function(data)
                        {
                            $.each(data, function(j,stuff){
                                var items = 
                                    '<li class="list__item list__item--tappable">' +
                                        '<label class="checkbox checkbox--noborder checkbox--list-item">' +
                                        '<input type="checkbox">' +
                                        '<div class="checkbox__checkmark checkbox--noborder checkbox--list-item__checkmark"></div>' +
                                            stuff.name +
                                        '</label>' +
                                    '</li>';
                                output.append(items);
                            });
                            console.log('Read from: '+localLocation);
                        });
                    }
                    
                }
                if (event.index === 2) {
                    shakeEnabled = false;
                    console.log("settings opened");
                }

                });
            });
        </script>

        <title>FoodShaker</title>
    </head>
    <body> 
        <ons-tabbar var="tabbar">
            <ons-tabbar-item
                icon="ion-refresh"
                label="Shake!"
                page="shake"
                active="true"></ons-tabbar-item>
            <ons-tabbar-item
                icon="ion-nuclear"
                label="Fridge"
                page="fridge"></ons-tabbar-item>
            <ons-tabbar-item
                icon="gear"
                label="Settings"
                page="settings"></ons-tabbar-item>
        </ons-tabbar>

        <ons-template id="shake">
            <ons-page id="shake-page">
                <div class="backdrop">
                    <div class="shake-icon"></div>
                    <div class="shake-text">Shake Me!</div>
                </div>
            </ons-page>
        </ons-template>
        
        <ons-modal var="modal" ng-controller="modalController">
            <ons-icon icon="ion-load-c" spin="true"></ons-icon>
            <br>
            <br> This is your recipe.
            <br>
            <br> Well, just a placeholder.
            <br>
            <br>Closing in 4 seconds.
            <br>
            <br>
            <ons-button ng-click="dismiss()">Close Manually</ons-button>
        </ons-modal>
        
        <ons-template id="fridge">
            <ons-page>
                <ons-toolbar>
                    <div class="center">What's in your Fridge?</div>
                </ons-toolbar>    
                <center><div id="warning"></div></center>
                <br>
                <ul class="list">
                    <div id="output"></div>
                </ul>
            </ons-page>
        </ons-template>
        
        <ons-template id="settings">
            <ons-page ng-controller="MyController">   
                <ons-toolbar>
                    <div class="center">Settings</div>
                </ons-toolbar>
                <br/>
                <div class="settings-header">Audio</div>
                <ons-list modifier="inset" class="settings-list">
                    <ons-list-item>
                        Enable Shaker Sound
                      <ons-switch modifier="list-item" var='audioSwitch' ng-model='audToggle' ng-change='check()'></ons-switch>
                    </ons-list-item>
                </ons-list>
                <br/>
                <div class="settings-header">General</div>
                <ons-list modifier="inset" class="settings-list">
                    <ons-list-item>
                        Online Database
                      <ons-switch modifier="list-item" var='onlineSwitch' ng-model='onlineToggle' ng-change='toggleOnline()'></ons-switch>
                    </ons-list-item>
                </ons-list>
                <br/>
                <div class="settings-header">Time Available for Cooking</div>
                <ons-list class="range-list">
                    <ons-list-item>
                    <ons-row>
                        <ons-col class="range-wrapper">
                             <center>{{timeToCook}} minutes</center>
                             <input type="range" value="30" class="range" ng-model="timeToCook" min=5 max=60 ng-change="setCookingTime()">
                        </ons-col>
                    </ons-row>
                    </ons-list-item>
                </ons-list>
            </ons-page>
        </ons-template>

    </body>
</html>
